* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
}
#body {
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  margin: 0%;
}

button {
  text-decoration: none;
  transform: translateY(0px);
  position: relative;
  box-shadow: 3px 4px 0px 0px #1564ad;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-size: cover;
  background-color: #79bbff;
  border-radius: 5px;
  border: 1px solid #337bc4;
  display: inline-block;
  cursor: pointer;
  color: navy;
  text-shadow: 0px 1px 0px #528ecc;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 2rem;
}
button:hover {
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
}

button:active {
  box-shadow: 1px 2px 0px 0px #1564ad;
  transform: translateY(4px);
  border-top: #cccccc;
  border-left: #cccccc;
}
@media only screen and (min-width: 320px) and (max-width: 400px) {
  .main {
    font-size: 18px;
  }
  button {
    margin: 1rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
  .buttons-section {
    max-width: 100vw;
  }
}
@media only screen and (min-width: 401px) and (max-width: 450px) {
  .main {
    font-size: 18px;
  }
  button {
    margin: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .buttons-section {
    max-width: 100vw;
  }
}
@media only screen and (min-width: 451px) {
  .main {
    font-size: 24px;
  }
}
